package ${package}.entity;

import com.ljb.util.BaseEntity;
import javax.persistence.*;
import java.util.List;

/**
 * ${comments}实体
 * 表名 ${tableName}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Entity
@Table(name="${tableName}")
public class ${className} extends BaseEntity {

    private static final long serialVersionUID = 1L;
    
    public  ${className}(){

    }

#foreach ($column in $columns)
#if($column.columnName != $pk.columnName && $column.attrname != "createTime" && $column.attrname != "createId" && $column.attrname != "updateTime" && $column.attrname != "updateId"  && $column.attrname != "isDelete")
	//$column.comments
	@Column(name = "$column.columnName")
	private $column.attrType $column.attrname;
#end#end

#foreach ($column in $columns)
#if($column.columnName != $pk.columnName && $column.attrname != "createTime" && $column.attrname != "createId" && $column.attrname != "updateTime" && $column.attrname != "updateId" && $column.attrname != "isDelete")

    /**
     * 设置：${column.comments}
     */
    public void set${column.attrName}($column.attrType $column.attrname) {
        this.$column.attrname = $column.attrname;
    }

    /**
     * 获取：${column.comments}
     */
    public $column.attrType get${column.attrName}() {
        return $column.attrname;
    }
#end#end
}
